<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<display-name>biz.neustar.clouds.chat</display-name>

	<filter>
		<filter-name>init</filter-name>
		<filter-class>biz.neustar.clouds.chat.InitFilter</filter-class>
		<load-on-startup>1</load-on-startup>
		<init-param>
			<param-name>discovery</param-name>
			<param-value>http://dev-registry.respectnetwork.net:3081/registry</param-value>
		</init-param>
	</filter>

	<servlet>
		<servlet-name>connecttocloud</servlet-name>
		<servlet-class>biz.neustar.clouds.chat.ConnectToCloudServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>connecttocloud</servlet-name>
		<url-pattern>/2/connecttocloud</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>connecttochildcloud</servlet-name>
		<servlet-class>biz.neustar.clouds.chat.ConnectToChildCloudServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>connecttochildcloud</servlet-name>
		<url-pattern>/2/connecttochildcloud</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>request</servlet-name>
		<servlet-class>biz.neustar.clouds.chat.RequestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>request</servlet-name>
		<url-pattern>/1/request</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>approve</servlet-name>
		<servlet-class>biz.neustar.clouds.chat.ApproveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>approve</servlet-name>
		<url-pattern>/1/approve</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>viewasparent</servlet-name>
		<servlet-class>biz.neustar.clouds.chat.ViewAsParentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>viewasparent</servlet-name>
		<url-pattern>/1/viewasparent</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>viewaschild</servlet-name>
		<servlet-class>biz.neustar.clouds.chat.ViewAsChildServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>viewaschild</servlet-name>
		<url-pattern>/1/viewaschild</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>logs</servlet-name>
		<servlet-class>biz.neustar.clouds.chat.LogsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logs</servlet-name>
		<url-pattern>/1/logs</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>block</servlet-name>
		<servlet-class>biz.neustar.clouds.chat.BlockServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>block</servlet-name>
		<url-pattern>/1/block</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>unblock</servlet-name>
		<servlet-class>biz.neustar.clouds.chat.UnblockServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>unblock</servlet-name>
		<url-pattern>/1/unblock</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>delete</servlet-name>
		<servlet-class>biz.neustar.clouds.chat.DeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>delete</servlet-name>
		<url-pattern>/1/delete</url-pattern>
	</servlet-mapping>

</web-app> 
